.idea/*
odg-env/*
api/__pycache__/*
api/migrations/__pycache__/*
core/__pycache__/*
core/migrations/__pycache__/*
odg/__pycache__/*
.vscode/
core/migrations/*
media/*
db.sqlite3
__pycache__/*
venv/
core/model/__pycache__/
core/model/files/__pycache__/
api/__init__.pyc
api/models.pyc
core/__init__.pyc
odg/__init__.pyc
odg/settings.pyc
core/model/linker/__pycache__/*
core/model/clusterizer/__pycache__/*
core/model/configuration/__pycache__/*

